/*
    QUESTION: Why is the third partner on the top slightly higher in both mine, and template?
*/


/*
    All version, default element style
*/

* {
    font-family: Roboto, sans-serif;
}

.desktop_nav_wrapper {
    display: none;
}

button {
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    background-color: #38A3F1;
    padding: 16px 58px;
    border-radius: 35px;
    transition: all 0.3s ease-in;
}

button:hover {
    background-color: #0e3c5d;
}

p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #374754
}

h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 55px;
    line-height: 65px;
}

h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 57px;
    text-align: center;
}

h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
}

h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

h5 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}

.price_money__container {
    display:flex;
}

.price_money__container > div:first-child {
    margin: 10px;
}

.price_money__container > div:last-child {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.burger__container {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
}

.burger__container > div {
    width:27px;
    height:3px;
    background-color: #fff;
    margin: 2px 0;
    transition: all 0.3s;
}

.burger__container > div:nth-child(2) {
    width:20px;
}

.burger__container > div:last-child{
    width:12px;
}

.burger__container:hover > div {
    width:27px;
}


/*
    Mobile version from 380px to 1280px
*/

.desktop__h2 {
    display: none;
}

.desktop__h2__2 {
    display: none;
}

.home_nav {
    display: flex;
    justify-content: space-between;
    padding:0 16px;
    align-items: center;
}

.home_wrapper {
    background-image: url(images/bg_main_mobile.svg);
    background-position: center;
    background-size: cover;
    height: 787px;
    margin-bottom: 80px;
}

.home_content {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 117px;
}

.home_content > div > p {
    color: #fff;
}

.home_content > div:first-child {
    padding-bottom: 27px;
}

.home_content > div:nth-child(2) {
    margin: 0px 75px 75.56px 60px;
    height: 40px;
}

.home_content > div:nth-child(3) {
    background-image: url(images/screen.png);
    background-position: center;
    width: 378.95px;
    height: 211.83px;
    margin-bottom: 65.77px;
}

.features_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.features_intro {
    margin-bottom: 88px;
}

.features_intro > h3 {
    margin-bottom: 17px;
}

.features_intro > h2 {
    margin-bottom: 27px;
}

.features_intro > h4 {
    margin: 0 60px;
}

.features_content_heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 255px;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 20px;
}

.features_content_heading img {
    height: 43px;
    width: 43px;
    margin-right: 10px;
    position: relative;
    top: 10px;
}

.features_content_text {
    width: 30%;
    height: 81px;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 95px;
}

.demo_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 86.56px;
}

.demo_wrapper > div:nth-child(2) {
    width: 298px;
    height: 40px;
    margin: 27px 60px 69px 60px;
}

.demo_wrapper > div:nth-child(3) {
    margin-bottom: 65.56px;
}

.demo_wrapper > div:nth-child(3) > button {
    color: #fff;
}

.demo_wrapper > div:last-child {
    background-image: url(/images/macbookpro.png);
    width: 378.95px;
    height: 211.89px;
}

.newsletter_wrapper {
    background: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);
    background-size: cover;
    height: 601px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin-bottom: 100px;
}

.newsletter_wrapper > div > p {
    color: #fff;
}

.newsletter_wrapper > div:first-child {
    margin: 81px 121.5px 17px 121.5px;
}

.newsletter_wrapper > div:nth-child(2) {
    margin-bottom: 79px;
}

.newsletter_wrapper > div:nth-child(3) {
    margin-bottom: 10px;
}

.newsletter_wrapper > div:nth-child(4) {
    margin-bottom: 34px;
}

.newsletter_wrapper > div:last-child > form > input:first-child {
    margin-bottom: 12px;
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    background-color: #F4F4F4;
    border-radius: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px; 
    padding-right: 133px;
    height: 54px;
    color: #18171D;
}

/*** Q: How do I change padding of the editable text? ***/

.newsletter_wrapper > div:last-child > form > input::placeholder {
    padding-left: 35px;
}

.newsletter_wrapper > div:last-child > form > input:last-child {
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    background-color: #EF2779;
    padding: 17px 139.5px;
    border-radius: 35px;
    transition: all 0.3s ease-in; 
}

.newsletter_wrapper > div:last-child > form > input:last-child:hover {
    background-color: #490c25; 
}

.partner_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 121px;
}

.partner_wrapper > div > h2 {
    margin-bottom: 27px;
}

.partner_wrapper > div > h4 {
    margin-bottom: 118px;
    width: 298px;
    height: 40px;
}

.partner_wrapper > .partner_display > div {
    margin-right: 36px;
    margin-left: 36px;
}

.partner_wrapper > .partner_display > div > h5 {
    margin-bottom: 25px;
}

.partner_wrapper > .partner_display > div > p {
    width: 218px;
    height: 135px;
    margin-bottom: 50px;
}

.partner_wrapper > .partner_display {
    margin-bottom: 108px;
}

.partner_wrapper > div:last-child > button {
    color: #fff;
    margin-bottom: 50px;
}

.testimonials_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 121px;
}

.testimonials_wrapper > div > h2 {
    margin-bottom: 105.22px
}

.testimonials_wrapper > div > h4 {
    color: #374754;
    font-size: 13.5256px;
}

.testimonials_wrapper > div:nth-child(2) > img {
    margin: 0 11px 53.26px 0;
}

.testimonials_wrapper > div:nth-child(3) {
    margin: 0 67.5px 53px 67.5px;
}

.testimonials_wrapper > div:nth-child(4) {
    display: flex;
    flex-direction: row;
}

.testimonials_wrapper > div:nth-child(4) > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2px;
}

.testimonials_wrapper > div:nth-child(4) > div > div:first-child > p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 10.1442px;
    line-height: 15px;
    color: #374754;
    margin-left: 1px;
    position: relative;
    left: 5px;
}

.testimonials_wrapper > div:nth-child(4) > div > div:last-child > p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12.6802px;
    line-height: 23px;
    color: #252B42;
}

.testimonials_profile {
    margin-bottom: 95px;
}

.testimonials_wrapper > div:last-child {
    margin-bottom: 100px;
    color: #fff;
}

.pricing_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 68px;
}

.pricing_wrapper > div:first-child > h2 {
    margin-bottom: 27px;
}

.pricing_wrapper > div:first-child > p {
    margin: 0px 58.5px;
    text-align: center;
    margin-bottom: 108px;
}

.pricing_card {
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    /* SHADOW */
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    margin-bottom: 50px;
    height: 310px;
    padding: 40px;
    width: 335px;
    transition: all 0.2s ease-in;
}

.pricing_card:hover {
    transform: scale(1.05);
}

.pricing_card:nth-child(2) {
    background: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);
    color: #fff;
}

.pricing_card:nth-child(2) button {
    background-color: #fff;
    color: #EF2779;
    transition: all 0.3s ease-in;
}

.pricing_card:nth-child(2) button:hover {
    background-color: #EF2779;
    color: #fff;
}

.pricing_card > div {
    margin-bottom: 27px;
}

.pricing_card > div:last-child {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing_card button {
    width: 100%;
    margin-bottom: 40px;
}

.pricing_card > div:first-child > h5 {
    color: #374754;
}

.pricing_card:nth-child(2) > div > h5 {
    color: #fff;
}

.contact_wrapper {
    background-color: #252B42;
    height: 1511.99px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 136px;
}

.contact_wrapper > div:first-child > h2 {
    padding-top: 160px;
    margin-bottom: 27px;
    color: #fff;
}

.contact_wrapper > div:first-child > p {
    color: #fff;
    text-align: center;
    margin-bottom: 74px;
}

.contact_wrapper > div:nth-child(2) > img {
    margin-right: 32.33px;
}

.contact_wrapper > div:nth-child(2) {
    margin-bottom: 92.48px;
}

.content_icons {
    margin-bottom: 53px;
}

.content_icons > div > h5 {
    color: #fff;
}

.content_icons > div {
    display: flex;
    flex-direction: row;
    margin-bottom: 25.13px;
}

.content_icons > div > img {
    margin-right: 20.67px;
}

.contact_form {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    
    /* SHADOW */
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    padding: 52px 49px;
    width: 378px;
    height: 670px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;   
}

.contact_form > form > input:first-child {
    margin-top: 130px;
}

.contact_form > form > input {
    margin-bottom: 45px;
    background: #F5F5F5;
    border: 1px solid #E8E8E8;
    border-radius: 39px;
    padding: 19px 20px;
    width: 100%;
}

.contact_form > form > input:nth-child(5) {
    border-radius: 0px;
    padding-bottom: 150px;
}

#subscribe2 {
    width: 55%;
    background-color: #EF2779;
    color: #fff;
    transition: all 0.3s ease-in;
}

#subscribe2:hover { 
    background-color: #fff;
    color: #EF2779;
    cursor: pointer;
}

.bottom_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bottom_wrapper > .credits_wrapper > .credits > p {
    margin-bottom: 16px
}

.bottom_wrapper > .credits_wrapper > .credits > p:last-child {
    margin-bottom: 55px;
}

.bottom_wrapper > .credits_wrapper > .credits > h3 {
    margin-bottom: 25px;
}

.footer_wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 132.96px;
}

.footer_wrapper > img {
    margin-right: 32.33px;
}

/*
    Desktop version from 1280px to ~
*/

@media screen and (min-width: 1280px) {
    .home_wrapper {
        background-image: url(images/bg_main_desktop.svg);
        background-position: center;
        background-size: cover;
        height: 787px;
        margin-bottom: 80px;
    }
    .burger__container {
        display: none;
    }
    .desktop_nav_wrapper {
        display: flex;
        margin-top: 25px;
    }
    .desktop_nav_wrapper > ul {
        list-style: none;
        display: flex;
        color: #fff;
        font: 'Roboto', sans-serif;
    }
    .desktop_nav_wrapper > ul > li {
        margin-right: 41px;
    }
    .desktop_nav_wrapper > ul > li > form > input:first-child {
        background: none;
	    color: inherit;
	    border: none;
	    font: inherit;
	    cursor: pointer;
	    outline: inherit;
        background-color: #F4F4F4;
        border-radius: 35px;
        padding: 13px 20px;
        color: #18171D;
        position: relative;
        bottom: 10px;
        margin-right: 10px;
    }
    .desktop_nav_wrapper > ul > li > form > input:last-child {
        background: none;
	    color: inherit;
	    border: none;
	    font: inherit;
	    cursor: pointer;
	    outline: inherit;
        background-color: #fff;
        color: #EF2779;
        padding: 13px 20px;
        border-radius: 35px;
        transition: all 0.3s ease-in; 
        position: relative;
        bottom: 10px;
        transition: all 0.3s ease-in;
    } 
    .desktop_nav_wrapper > ul > li > form > input:last-child:hover {
        background-color: #EF2779;
        color: #fff;
    }
    .home_content {
        float: right;
    }
    .home_content > div:nth-child(3) {
        float: left;
        position: relative;
        right: 700px;
        bottom: 350px;
        background-image: url(images/screen.svg);
        width: 800px;
        height: 531.13px;
    }
    .home_content > div:last-child > button {
        position: relative;
        bottom: 600px;
        right: 130px;
        color: #38A3F1;
        background-color: #fff;
        transition: all 0.3s ease-in;
    }
    .home_content > div:last-child > button:hover {
        color: #fff;
        background-color: #38A3F1;
    }
    .home_content > div:nth-child(2) > p {
        width: 60%;
        text-align: left;
    }
    .home_content > div:nth-child(2) {
        position: relative;
        left: 60px;
    }
    .mobile__h2 {
        display: none;
    }
    .desktop__h2 {
        display: flex;
        position: relative;
        right: 90px;
    }
    .features_wrapper {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 150px;
    }
    .features_intro > h4 {
        color: #374754;
        padding-right: 100px;
        padding-left: 100px;
    }
    .features_wrapper > .features_content {
        display: flex;
        flex-direction: row;
    }
    .features_content__inner {
        display: flex;
        flex-direction: column;
        margin-right: 33.5px;
        margin-left: 33.5px;
    }
    .features_content_text {
        width: 100%;
    }
    .demo_wrapper > div:last-child {
        background-image: url(/images/macbookpro.svg);
        width: 1033.26px;
        height: 577.74px;
    }
    .mobile__h2__2 {
        display: none;
    }
    .desktop__h2__2 {
        display: flex;
    }
    .partner_wrapper > div > h4 {
        color: #374754;
    }
    .partner_display {
        display: flex;
        flex-direction: row;
    }


}